{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <title>Test</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Test</h1>
    <form id="update_log" action="#" >
        {% csrf_token %}
        <input type="hidden" name="offset" id="offset" value=0>
        <div class="form-group">
            <textarea id="json_area" class="form-control" rows="10"></textarea>
        </div>
        <div class="form-group">
            <input type="submit">
        </div>
    </form>
</div>
</body>
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
</html>